<app-navbar></app-navbar>

<div class="container-fluid mb-4 mt-4">
  <div class="row justify-content-around">

    <!--Login Page -->
    <div class="col-md-7 bg-light shadow p-4">
      <h2 class="display-4 ">
        <fa-icon [icon]="faAddressCard"></fa-icon> About
      </h2>
      <p class="text-secondary">Lorem ipsum dolor sit amet.</p>
      <hr>
      <p class="text-dark text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam atque error esse eum dolorum, earum adipisci fuga accusantium, dicta quam voluptas velit a beatae. Perferendis eum, fuga asperiores id fugiat at inventore possimus aliquid esse necessitatibus. Pariatur enim et, ab animi eum excepturi quis cupiditate deserunt, amet maiores saepe ipsam, quasi sit iusto fuga! Odit, porro, sit officiis fuga expedita eum dolorum dicta animi est provident officia sunt corporis ducimus veritatis amet natus, sint libero explicabo deleniti id neque alias voluptates nulla! Odit reprehenderit nesciunt commodi officiis, quisquam ratione aspernatur sit natus quam enim. Dolore qui eius
        deleniti consequuntur voluptates!
      </p>
      <p class="text-dark text-justify">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore quisquam excepturi amet aperiam cupiditate eius suscipit odit itaque quidem saepe aliquid nemo, a blanditiis ullam eveniet sed optio eligendi commodi. Distinctio magni, neque soluta earum non atque ipsa nobis quidem, similique suscipit quae? Officia et ipsam, illum nobis enim hic? </p>


    </div>
  </div>
</div>

<app-footer></app-footer>
