<nav class="navbar navbar-expand-sm navbar-dark bg-dark   shadow sticky-top ">
  <a class="navbar-brand " routerLink=""><span class="align-middle">DIRECTI<fa-icon [icon]="faCompass" style="font-size: 120%;"></fa-icon>NS</span></a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="collapsibleNavId">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let item of linksList">
        <a class="nav-link" routerLink="/{{ item.link }}" routerLinkActive="active">{{ item.title }}</a>
      </li>
    </ul>
  </div>
</nav>
