<!-- Main Page -->
<div class="container-fluid mb-4 mt-4">
  <div class="row justify-content-around">
    <!--Geo Page -->
    <div class="col-md-7 bg-light shadow p-4 my-2">
      <h1>
        <fa-icon [icon]="faCompass"></fa-icon> GPS Compass
      </h1>
      <p class="text-secondary">Your navigation tool.</p>
      <hr>
      <div class="compassContainer container-fluid">
        <div class="compass">
          <div id="rose" class="compass__rose">
            <svg class="compass__rose__dial" viewBox="0 0 130 130" [style.transform]="transformValue" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle cx="65" cy="65" r="56" stroke="black" stroke-width="1" fill="none" />
              <polyline points="63,9  67,9  65,13" fill="black" />
              <polyline points="121,63  121,67  119,65" fill="black" />
              <polyline points="63,121  67,121  65,119" fill="black" />
              <polyline points="9,63  9,67  11,65" fill="black" />
              <text x="65" y="4.2" font-size="5" text-anchor="middle" fill="black">N</text>
              <text x="127" y="67" font-size="5" text-anchor="middle" fill="black">E</text>
              <text x="65" y="129" font-size="5" text-anchor="middle" fill="black">S</text>
              <text x="2.8" y="67" font-size="5" text-anchor="middle" fill="black">W</text>
            </svg>
          </div>
          <svg class="compass__pointer" viewBox="0 0 130 130" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polyline points="60,60  70,60  65,15" fill="#b60000" />
            <polyline points="60,70  70,70  65,115" fill="black" />
            <circle cx="65" cy="65" r="7" stroke="#b60000" stroke-width="7" fill="none" />
          </svg>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <p class="text-center font-weight-bolder">HEADING</p>
          <p class="text-center font-weight-light headingValue">{{ headingValue }} deg</p>
        </div>
        <div class="col-md-4">
          <p class="text-center font-weight-bolder">LATITUDE</p>
          <p class="text-center font-weight-light latValue">{{ latValue }}</p>
        </div>
        <div class="col-md-4">
          <p class="text-center font-weight-bolder">LONGITUDE</p>
          <p class="text-center font-weight-light lonValue">{{ lonValue }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 bg-light shadow p-4 my-2">
      <h1>
        <fa-icon [icon]="faTachometerAlt"></fa-icon> GPS Speedometer
      </h1>
      <p class="text-secondary">Take a Speed test.</p>
      <hr>
      <p class="text-center font-weight-bolder">
        SPEED
      </p>
      <p class="text-center font-weight-light speed-value">
        {{ speed }} km/hr
      </p>
      <p class="text-center font-weight-bolder">
        TIME
      </p>
      <p class="text-center font-weight-light speed-value">
        {{ time }}
      </p>
    </div>
  </div>

  <div class="row justify-content-around my-2">
    <div class="col-md-11 bg-light shadow p-4">
      <h1>
        <fa-icon [icon]="faMapMarker"></fa-icon> Location
      </h1>
      <p class="text-secondary">This is your current location.</p>
      <hr>
      <div class="container-fluid" id="map">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
