<app-navbar></app-navbar>


<!--Main Container -->
<div class="container-fluid my-3">
  <div class="row justify-content-around">

    <!--Login Page -->
    <div class="col-md-7 bg-light shadow px-4 pt-4">
      <h4 class="display-4 ">
        <fa-icon [icon]="faUser"></fa-icon> Login
      </h4>
      <p class="text-secondary">Enter valid login details.</p>
      <hr>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="uiInvalidCredential">
        <strong>Invalid email or password!!</strong> Please Enter valid details
        <button type="button" class="close" (click)="uiInvalidCredential = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Login form -->
      <form (submit)="submitForm()" [formGroup]="fbFormGroup">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="abc@example.com" pattern="[^\s]+" minlength="3" maxlength="20" required formControlName="email">
          <small id="emailHelpId" class="form-text text-muted">*Required</small>
        </div>

        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password" minlength="4" maxlength="20" required formControlName="password">
          <small id="passwordHelpId" class="form-text text-muted">*Required</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success mr-1" [disabled]="!fbFormGroup.valid">Sign Up!</button>
          <button type="reset" class="btn btn-danger ml-1">Reset</button>
        </div>
        <p>or <span><a routerLink="/forgotpassword">Forgot Password</a></span></p>
        <p>Don't have an account? <span><a routerLink="/signup">Sign up</a></span></p>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
