<app-navbar></app-navbar>

<div class="container-fluid my-3">
  <div class="row justify-content-around">
    <div class="col-md-7 bg-light shadow px-4 pt-4">
      <h4 class="display-4">
        <fa-icon [icon]="faUserPlus"></fa-icon> Sign Up
      </h4>
      <p class="text-secondary">Enter valid sign up details. {{ responseVar }}</p>
      <hr />
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="uiInvalidCredential">
        <strong>{{ responseVar }}</strong>
        <button type="button" class="close" (click)="uiInvalidCredential = false; errorDiv = true" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="registerHere()" [formGroup]="fbFormGroupSignup" *ngIf="errorDiv">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstname" class="form-control" minlength="2" maxlength="10" placeholder="John" aria-describedby="firstnamehelpId" required formControlName="firstname" [class.is-valid]="fbFormGroupSignup.controls['firstname'].valid" [class.is-invalid]="!fbFormGroupSignup.controls['firstname'].valid &&
              fbFormGroupSignup.controls['firstname'].touched" />
          <small id="firstnamehelpId" class="text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastname" class="form-control" minlength="2" maxlength="10" placeholder="Dove" aria-describedby="lastnamehelpId" required formControlName="lastname" [class.is-valid]="fbFormGroupSignup.controls['lastname'].valid" [class.is-invalid]="!fbFormGroupSignup.controls['lastname'].valid &&
              fbFormGroupSignup.controls['lastname'].touched" />
          <small id="lastnamehelpId" class="text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="abc@example.com" minlength="3" maxlength="30" required formControlName="email" [class.is-valid]="fbFormGroupSignup.controls['email'].valid" [class.is-invalid]="!fbFormGroupSignup.controls['email'].valid &&
              fbFormGroupSignup.controls['email'].touched" />
          <small id="emailHelpId" class="form-text text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input type="text" name="mobile" id="mobile" class="form-control" placeholder="98XXXXXXXX" minlength="10" maxlength="10" aria-describedby="mobilehelpId" required formControlName="mobile" [class.is-valid]="fbFormGroupSignup.controls['mobile'].valid" [class.is-invalid]="!fbFormGroupSignup.controls['mobile'].valid &&
              fbFormGroupSignup.controls['mobile'].touched" />
          <small id="mobile" class="text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password" minlength="8" maxlength="20" required formControlName="password" [class.is-valid]="fbFormGroupSignup.controls['password'].valid" [class.is-invalid]="!fbFormGroupSignup.controls['password'].valid &&
              fbFormGroupSignup.controls['password'].touched" />
          <small id="passwordHelpId" class="form-text text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="cpwd">Confirm Password</label>
          <input type="password" class="form-control" name="cpwd" id="cpwd" placeholder="Confirm Password" minlength="8" maxlength="20" required formControlName="cpassword" [class.is-valid]="fbFormGroupSignup.controls['cpassword'].valid" [class.is-invalid]="!fbFormGroupSignup.controls['cpassword'].valid &&
              fbFormGroupSignup.controls['cpassword'].touched" />
          <small id="passwordHelpId" class="form-text text-muted">*Required</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success mr-1" [disabled]="!fbFormGroupSignup.valid">
            Sign Up!
          </button>
          <button type="reset" class="btn btn-danger ml-1">Reset</button>
        </div>
        <p>
          Already have an account? <span><a routerLink="/login">Login</a></span>
        </p>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
