<app-navbar></app-navbar>

<div class="container-fluid my-3">
  <div class="row justify-content-around">

    <div class="col-md-7 bg-light shadow px-4 pt-4">
      <h4 class="display-4 ">
        <fa-icon [icon]="faUserPlus"></fa-icon> Sign Up
      </h4>
      <p class="text-secondary">Enter valid sign up details.</p>
      <hr>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="uiInvalidCredential">
        <strong>Email already registered!!</strong>
        <button type="button" class="close" (click)="uiInvalidCredential = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="registerHere()" [formGroup]="fbFormGroupSignup">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstname" class="form-control" placeholder="John" aria-describedby="firstnamehelpId" required formControlName="firstname">
          <small id="firstnamehelpId" class="text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Dove" aria-describedby="lastnamehelpId" required formControlName="lastname">
          <small id="lastnamehelpId" class="text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="abc@example.com" pattern="[^\s]+" minlength="3" maxlength="20" required formControlName="email">
          <small id="emailHelpId" class="form-text text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input type="text" name="mobile" id="mobile" class="form-control" placeholder="9881555555" aria-describedby="mobilehelpId" required formControlName="mobile">
          <small id="mobile" class="text-muted">*Required</small>
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password" minlength="4" maxlength="20" required formControlName="password">
          <small id="passwordHelpId" class="form-text text-muted">*Required</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success mr-1" [disabled]="!fbFormGroupSignup.valid">Sign Up!</button>
          <button type="reset" class="btn btn-danger ml-1">Reset</button>
        </div>
        <p>Already have an account? <span><a routerLink="/login">Login</a></span></p>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
